@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?8kzka9');
    src: url('fonts/icomoon.eot?8kzka9#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?8kzka9') format('truetype'),
        url('fonts/icomoon.woff?8kzka9') format('woff'),
        url('fonts/icomoon.svg?8kzka9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: title_font;
    src: url("fonts/NanFengXingShu-2.ttf");
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 5000px;
}
.title{
    font-family: "title_font";
    width:0x;
    height:0px;
    font-size: 100px;
    color:white;
    position: relative;
    top:130px;
    left:260px;
    z-index: 5;
}
.first_p{
    position: relative;
    top:0px;
    left:40px;
}
.second_p{
    position: relative;
    top:0px;
    left:200px;
}
.header {
    font-family: "title_font";
    height: auto;
    width: 40%;
    background-color: transparent;
    position: fixed;
    top: 0px;
    z-index: 5;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
    grid-column-gap: 1px;
}

.header ul {
    display: flex;
    background-color: transparent;
}

.header li {
    float : right;
    width: 15%;
    height: 30px;
    background-color: transparent;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    list-style: none;
    /* padding-top: 10px; */
    /* padding-bottom: 10px;  */
    padding-left: 20px;
    padding-right: 20px;

}
/* .header li :nth-child(1)::before{
    content:"";
    font-family: 'icomoon';
} */
/* .header ul li:nth-child(2)::before{
    content:"";
    font-family: 'icomoon';
    color:white;
} */
/* .header li :nth-child(3)::before{
    content:"";
    font-family: 'icomoon';
}
.header li :nth-child(4)::before{
    content:"";
    font-family: 'icomoon';
} */
.header li a {
    display: inline-block;
    width: 80px;
    height: 20px;
    text-decoration: none;
    color: white;
}

.header li:first-child {
    margin-left: 249px;
}
.header li:hover {
    background-color:darkseagreen;
}
.header input {
    height: 30px;
    width: 249px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 17px;
    margin-bottom: 22px;
    margin-left: 20px;
}

.header span {
    margin-top: 22px;
    margin-bottom: 10px;
    padding-left: 0px;
    text-align: right;
    font-family: 'icomoon';
    font-size: 20px;
    color: white;
}

.flex {
    display: flex;
    width: 100%;
    height: 3000px;
}

.grid {
    display: grid;
    grid-template-columns: 300px 800px;
    flex-basis: 1100px;

}

.introduce {
    height: 700px;
    width: 300px;
    background-color:aliceblue;
    position: sticky;
    top:200px;
}

.introduce p {
    text-align: center;
}

.left_white {

    width: 100%;
    height: 100%;
    background-color: white;
    flex-grow: 0.2;

}

.right_white {

    width: 100%;
    height: 100%;
    background-color: white;
    flex-grow: 0.2;
}

.endless {

    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
}

.main {
    width: 100%;
    height: 3000px;
    background-color: #cad2c5;
}

.content {
    background-color: white;
}