<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=!, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="main_menu.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../top.js" defer="defer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main_menu.js" defer="defer"></script>
</head>

<body>
    <div class="slideshow-container" id ="slideshow-container_id">
        <div class="mySlides fade"  v-for="(item,index) in items" >
            <div class="toptitle">
                <p class="first_p">{{item.first}}</p>
                <p class="second_p">{{item.second}}</p>
            </div>
            <img decoding="async" v-bind:src="src_item[index]" style="width:100%; height: 100%;">
        </div>
    </div>
    <div class="header">
        <ul>
            <li><a href="main_menu.html"><strong>首页</strong></a></li>
            <li><a href="../Solution1/shennong.html"><strong>茶道历史</strong></a></li>
            <li><a href="../classify/oolong.html"><strong>茶道分类</strong></a></li>
            <li><a href="#"><strong>茶道文化</strong></a></li>
            <li><a href="../commodity/commodity_one.html"><strong>购茶途径</strong></a></li>
        </ul>
        <span></span>
        <input type="search">
    </div>
    <div id="waves">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" />
                <use xlink:href="#gentle-wave" x="48" y="3" />
                <use xlink:href="#gentle-wave" x="48" y="5" />
                <use xlink:href="#gentle-wave" x="48" y="7" />
            </g>
        </svg>
    </div>
    <div class="flex">
        <div class="left_white">
            
        </div>
        <div class="grid">
            <div class="introduce">
                <img src="../image/introduction/introduction_photo.jpg">
                <p>
                    我们是一支由南开大学软件学院21级本科生组成的开发小队！这是我们的前端实训大作业！
                </p>
                <a href="https://github.com/Cu737/tea_website" target="_blank">
                    <span>
                        <img src="../image/introduction/github.png">
                    </span>
                    <p>github地址</p>
                </a>
            </div>
            <div class="main">
                <div class="tea_kind" id="tea_kind_id">
                    <h1>——————— 茶的种类 ———————</h1>
                    <li class="tea_kind_title" v-for="item in facade_item" @mouseenter="seenter">
                        <img class="facade" :src="item.src_img">
                        <img class="obverse" :src="item.src_img">
                        <a href="#" v-for="item in word_item">{{item.content}}</a>
                        <p v-show="">{{item.img_text}}</p>
                    </li>
                    <li>
                        <a href="#">点击了解更多</a>
                    </li>
                </div>
                <div class="tea_history">
                    <h1>——————— 茶的历史 ———————</h1>
                    <li>
                        <a href="../Solution1/shennong.html">
                        <img src="../Solution1/shennong1.png">
                        <span>
                            <h3>神农不倦尝百草，因缘际会得遇茶</h3>
                            <p>
                                唐．陆羽《茶经》：“茶之为饮，发乎神农氏。”，在中国的文化发展史上，往往是把一切与农业、与植物相关的事物起源最终都归结于神农氏。
                            </p>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="../Solution1/xiashangzhou.html">
                        <img src="../Solution1/xiashangzhou1.png">
                        <span>
                            <h3>夏商始待茶以药，东西两周立茶道</h3>
                            <p>
                                茶最早开始有文字记载，是在商朝，为茶的原始利用期，在商周的时候中国饮茶主要以咀嚼鲜叶、煮成菜羹、熬煮茶水三种使用方法。
                                西周时期，这种饮食茶叶的习惯得到了继承和发展，茶叶的苦中有甜，苦后回甘，令人回味，广泛受到普通人和王公贵族的喜爱，因此周朝就有了最早的人工栽培的茶园。
                            </p>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="../Solution1/qinhanweijin.html">
                        <img src="../Solution1/qinhanweijin1.png">
                        <span>
                            <h3>秦汉茶饼煮可食，魏晋茶入百姓家</h3>
                            <p>
                                秦人喝茶也没有那些精细的茶道茶礼，也不用那些小杯小盏的精致茶具，大碗，大杯，大口喝茶，这是秦人的粗狂和豪爽。
                                汉代人们对茶叶的药用功能已经有了进一步认识，使茶进入了另一个发展阶段。
                                相应的，茶煮饮的方法也与之前不同：“欲煮茗饮，先炙令色赤，捣末，置瓷器中，以汤浇覆之，用葱姜、橘子芼之。”
                            </p>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="../Solution1/tangsong.html">
                        <img src="../Solution1/tangsong1.png">
                        <span>
                            <h3>隋唐繁盛风俗成，两宋琐碎浮华生</h3>
                            <p>
                                隋唐时，茶叶多加工成饼茶。饮用时，加调味品烹煮汤饮。此外，开始使用专门的烹茶器具， 饮茶的方式也发生了显著变化，由之前的粗放式转为细煎慢品式。
                                到了宋代，茶文化继续发展深化，形成了特有的文化品位。此外，宋代的茶饮活动从贡茶开始，又衍生出“绣茶”“斗茶”“分茶”等娱乐方式。
                            </p>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="../Solution1/yuanmingqing.html">
                        <img src="../Solution1/yuanmingqing1.png">
                        <span>
                            <h3>元朝曲折茶可饮，明清俗雅两分难</h3>
                            <p>
                                元朝建立后，蒙古人将自身的族群风俗和饮食习惯带到中原，茶和茶具进入到了返璞归真、删繁就简的境界。同时“泡茶法”开始被贵族和文人阶层所提倡并流行，成为了当时主流的饮茶方式。
                                明清时，茶已出现蒸青、炒青、烘青等品类，茶的饮用已改成“摄泡祛”。晚明到清初，精细的茶文化再次出现，制茶、烹饮虽未回到宋人的紧琐，但茶风趋向纤弱。
                            </p>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="../Solution1/dangdai.html">
                        <img src="../Solution1/dangdai3.png">
                        <span>
                            <h3>峥嵘岁月倏忽过，茶香依旧润今朝</h3>
                            <p>
                                虽然中华茶文化古已有之，但是它们在当代的复兴，被研究却是始于二十世纪80年代。台湾是现代茶艺、茶道的最早复兴之地。内地方面，新中国成立后，我国茶叶产量发展很快。物质基础的丰富为茶文化的发展提供了坚实的基础。

                            </p>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">点击了解更多</a>
                    </li>
                </div>
                <div class="tea_buy">
                    <h1>——————— 优茶选购 ———————</h1>
                    <li>
                        <a href="../commodity/commodity_one.html" class="commodity">
                            <img src="../commodity/commodity_picture/one.jpg">
                            <p>
                            茶类：绿杨春<br>
                            价格：¥300/500g<br>
                            点击了解详情<br>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="../commodity/commodity_one.html" class="commodity">
                            <img src="../commodity/commodity_picture/two.jpg">
                            <p>
                                茶类：蜜兰香、肉桂香<br>
                                价格：¥120/套<br>
                                点击了解详情<br>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="../commodity/commodity_one.html" class="commodity">
                            <img src="../commodity/commodity_picture/three.jpg">
                            <p>
                                茶类：芝兰香、玉兰香<br>
                                价格：¥3500/500g<br>
                                点击了解详情<br>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="../commodity/commodity_one.html" class="commodity">
                            <img src="../commodity/commodity_picture/four.jpg">
                            <p>
                                茶类：洞庭碧螺春<br>
                                价格：¥168/500g<br>
                                点击了解详情<br>
                            </p>
                            
                        </a>
                    </li>
                    <li>
                        <a href="../commodity/commodity_one.html" class="commodity">
                            <img src="../commodity/commodity_picture/five.jpg">
                            <p>
                                茶类：安吉白茶<br>
                                价格：¥500/500g<br>
                                点击了解详情<br>
                            </p>
                            
                        </a>
                    </li>
                    <li>
                        <a href="../commodity/commodity_one.html" class="commodity">
                            <img src="../commodity/commodity_picture/six.jpg">
                            <p>
                            茶类：武夷肉桂<br>
                            价格：¥20/20g<br>
                            点击了解详情<br>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="../commodity/commodity_one.html">点击了解更多</a>
                    </li>
                </div>
                <!-- <div class=content>
                    这是我的内容
                </div> -->
                <div style="clear: both"></div>
                <div class=endless>
                    <ul>
                        联系我们
                        <li style="padding-top: 10px">林铎鸣：2114010@mail.nankai.edu.cn</li>
                        <li>孙雨昕：2111498@mail.nankai.edu.cn</li>
                        <li>刘昌翰：2594651085@qq.com</li>
                        <li>卞一童：cucucu737@163.com</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="right_white">
            
        </div>
    </div>

</body>

</html>