<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=!, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="main_menu.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../top.js" defer="defer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main_menu.js" defer="defer"></script>
</head>

<body>
    <div class="slideshow-container" id ="slideshow-container_id">
        <div class="mySlides fade"  v-for="(item,index) in items" >
            <div class="toptitle">
                <p class="first_p">{{item.first}}</p>
                <p class="second_p">{{item.second}}</p>
            </div>
            <img decoding="async" v-bind:src="src_item[index]" style="width:100%; height: 100%;">
        </div>
    </div>
    <div class="header">
        <ul>
            <li><a href="main_menu.html"><strong>首页</strong></a></li>
            <li><a href="../Solution1/shennong.html"><strong>茶道历史</strong></a></li>
            <li><a href="../classify/oolong.html"><strong>茶道分类</strong></a></li>
            <li><a href="#"><strong>茶道文化</strong></a></li>
            <li><a href="../commodity/commodity_one.html"><strong>购茶途径</strong></a></li>
        </ul>
        <span></span>
        <input type="search">
    </div>
    <div id="waves">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" />
                <use xlink:href="#gentle-wave" x="48" y="3" />
                <use xlink:href="#gentle-wave" x="48" y="5" />
                <use xlink:href="#gentle-wave" x="48" y="7" />
            </g>
        </svg>
    </div>
    <div class="flex">
        <div class="left_white">
            
        </div>
        <div class="grid">
            <div class="introduce">
                <img src="../image/introduction/introduction_photo.jpg">
                <p>
                    我们是一支由南开大学软件学院21级本科生组成的开发小队！这是我们的前端实训大作业！
                </p>
                <a href="https://github.com/Cu737/tea_website" target="_blank">
                    <span>
                        <img src="../image/introduction/github.png">
                    </span>
                    <p>github地址</p>
                </a>
            </div>
            <div class="main">
                <div class="tea_kind" id="tea_kind_id">
                    <h1>——————— 茶的种类 ———————</h1>
                    <li class="tea_kind_title" v-for="(item,index) in facade_item" @mouseenter="seenter(index)" @mouseleave="leaver(index)">
                        <img class="facade" :src="item.src_img">
                        <img class="obverse" :src="item.src_img">
                        <!-- <a href="#" v-show="judge_switch[index]" v-for="item in word_item">{{item.content}}</a> -->
                        <a href="#" v-for="(word_item,tea_index) in word_items[index].tea_content" v-show="!judge_switch[index]" style="float:left; width:100px; height:50px; margin-top:30px; font-size: 30px; z-index:5; position:relative">{{word_items[index].tea_content[tea_index]}}</a>
                        <p v-show="judge_switch[index]">{{item.img_text}}</p>
                    </li>
                    <li>
                        <a href="#">点击了解更多</a>
                    </li>

                </div>
                <div class="tea_history" id="tea_history_id">
                    <h1>——————— 茶的历史 ———————</h1>
                    <li v-for="(item,index) in items">
                        <a :href="item.a1">
                        <img :src="item.src1">
                        <span>
                            <h3>{{item.h1}}</h3>
                            <p>
                                {{item.p1}}
                            </p>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">点击了解更多</a>
                    </li>
                </div>
                <div class="tea_buy" id="tea_buy_id">
                    <h1>——————— 优茶选购 ———————</h1>
                    <li v-for="(item,index) in items">
                        <a :href="item.a1" class="commodity">
                            <img :src="item.src1">
                            <p>
                                {{item.p1}}<br>
                                {{item.p2}}<br>
                                {{item.p3}}<br>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="../commodity/commodity_one.html">点击了解更多</a>
                    </li>
                </div>
                <!-- <div class=content>
                    这是我的内容
                </div> -->
                <div style="clear: both"></div>
                <div class=endless>
                    <ul>
                        联系我们
                        <li style="padding-top: 10px">林铎鸣：2114010@mail.nankai.edu.cn</li>
                        <li>孙雨昕：2111498@mail.nankai.edu.cn</li>
                        <li>刘昌翰：2594651085@qq.com</li>
                        <li>卞一童：cucucu737@163.com</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="right_white">
            
        </div>
    </div>

</body>

</html>